extends base.pug

block content 
    p=video.description
    small=video.createdAt 
    a(href=`${video.id}/edit`) Edit Video &rarr;
    
    //- if video.views >= 2
    //-     h3 #{video.views} views. 
    //- else 
    //-     h3 #{video.views} view. 
        