extends base.pug

block content 
    h3 #{video.views} #{video.views === 1 ? "view":"views"}
    a(href=`${video.id}/edit`) Edit Video &rarr;
    
    //- if video.views >= 2
    //-     h3 #{video.views} views. 
    //- else 
    //-     h3 #{video.views} view. 
        